<!--The content below is only a placeholder and can be replaced.-->
<!-- <my-tabs>
  <my-tab [tabTitle]="'Blogs'">
    <div class="header">
      <h6>Blog Name</h6>
    </div>
    <app-blog-list
     >
    </app-blog-list>
    <hr />
    <button class="btn btn-default" (click)="onOpenAbout()"><i class="glyphicon glyphicon-question-sign"></i> About this</button>
  </my-tab>
</my-tabs> -->

<div class="header">
  <h3>Personal Text Blog </h3>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <app-blog-list></app-blog-list>
    </div>
    <!-- <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div> -->
  </div>
<!-- <app-blog-list
 >
</app-blog-list> -->

<!-- <ng-template let-person="person" #personEdit>
  <person-edit [person]="person" (savePerson)="onPersonFormSubmit($event)"></person-edit>
</ng-template>
<ng-template #about>
  <p>
    Hi, I hope this demo was useful to learn more about dynamic components
    in Angular, in specific about <code>ViewContainerRef</code>,
    <code>ComponentResolverFactory</code> etc.
  </p>
  <p>
    Also check out the <a href="https://juristr.com/blog/2017/07/ng2-dynamic-tab-component/">according blog article</a>. You
    may also want to read the <a href="https://juristr.com/blog/2016/02/learning-ng2-creating-tab-component/">article about
    creating basic tabs with <code>@ContentChildren</code> and <code>@QueryList</code></a>.
  </p>
  <p>
    Visit me on <a href="https://twitter.com/juristr">Twitter</a> or on <a href="https://juristr.com/blog">blog</a>.
  </p>
</ng-template> -->